<template>
    <header>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Địa chỉ: số nhà 12, ngõ 124, đường Xuân Thành, phố Tân Trung, phường Tân Thành, TP. Ninh Bình, Tỉnh Ninh Bình.</a>
                                </li>
                                <li><a href="#">Phone: +84-123-4567-89</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img width="100" height="100" :src="require('@/assets/images/logo.png')" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>

    </header>
</template>

<script>
</script>

