<template>
    <div>
        <HeaderBar/>
        <HomePage />
    </div>

</template>

<script>
import HeaderBar from './components/HeaderBar.vue';
import HomePage from './pages/HomePage.vue';

export default {
    name: 'App',
    components: {
        HomePage,
        HeaderBar,
    }
}
</script>

